body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}

h2{
    color: #ff5a60;
    display: inline;
}

header hr{
    color:#dad4d4;
}

nav{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div{
    gap: 7px;
}

.available ul, li, a{
    list-style-type: none;
    margin-left: 5px;
    color: #313133;
    text-decoration: none;
}

.select{
    padding: 6px;
    border: 1px solid #dad4d4;
    border-radius: 45px;
    box-shadow: 5px;
}

.select span{
    background-color: #ff0000fd;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 9px;
    width: 20px;
    height: 20px;
}

.available li{
    margin-left: 6px;
}

.items{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

.filter{
    display: flex;
    align-items: center;
}

.wrapper{
    display: flex;
    margin-top: 35px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.panel{
    display: flex;
    flex-direction: row;
    line-height: 40px;
    position: relative;
}

.panel img{
    border-radius: 15px;
}
/* #container{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    width: 100%;
    height: 100vh;
    padding: 30px 15px;
} */

/* .availzble span{
      width: 20px;
    height: 20px;*/